/* Font */
h1 {
  font-size: 26px;
  line-height: 38px;
  color: var(--clr-dark-blue);
}

h2 {
  font-size: 22px;
  line-height: 33px;
  color: var(--clr-dark-blue);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 16px;
    line-height: 16px;
  }

  h2 {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Background */
.bg-transition {
  transition: background ease 1s;
}

.bg-transparent {
  background-color: transparent;
}

/* Width */
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* Flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

/* Button */
button {
  font-family: var(--ff-space-mono);
  cursor: pointer;
  outline: none;
  border: none;
}

/* Input */
input {
  font-family: var(--ff-space-mono);
  outline: none;
  border: none;
}

/* Border */
.border-50 {
  border-radius: 50%;
}
