@import url(./variables.css);
@import url(./skeleton.css);
@import url(./general.css);
@import url(./dark.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: var(--ff-space-mono);
  background-color: var(--clr-saturated-white);

  color: var(--clr-desautareted-blue);
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}

.header__title {
  font-size: 26px;
  line-height: 38px;
}

#app {
  height: 100%;
  justify-content: center;
  align-items: center;
}

main {
  margin: 2rem 1rem;
  width: 100%;
}

.gh__section > header {
  margin-bottom: 2rem;
}

.header__button {
  width: 90px;
  height: 20px;

  color: var(--clr-grayish-blue);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.header__button:focus-visible {
  outline-color: var(--clr-grayish-blue);
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
}

.header__button .moon {
  display: block;
}

.header__button .sun {
  display: none;
}

.header__button svg {
  fill: var(--clr-grayish-blue);
}

.header__button:hover {
  color: var(--clr-very-dark-blue);
}

.header__button:hover svg {
  fill: var(--clr-very-dark-blue);
}

.header__button span {
  text-align: right;

  margin-right: 0.5rem;
}

.input-group {
  background-color: var(--clr-white);
  border-radius: 15px;

  padding: 0.45rem 0.45rem 0.45rem 0.9rem;
  margin-bottom: 1rem;

  box-shadow: var(--sh-box);
}

.icon {
  max-width: 21px;
  max-height: 20px;
}

.icon--left {
  margin-right: 0.5rem;
}

input {
  width: 100%;
  max-height: 25px;
  padding: 1rem;

  color: var(--clr-very-dark-blue);
  font-size: 13px;
  line-height: 25px;
}

input::placeholder {
  color: var(--clr-desautareted-blue);
}

input:focus {
  outline-color: var(--clr-grayish-blue);
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
}

.error input {
  width: 30%;
}

.error-text {
  display: none;
  color: var(--clr-red);
}

.error .error-text {
  display: block;
}

.btn {
  background-color: var(--clr-blue);
  padding: 0.7rem 0.9rem;

  border-radius: 10px;

  color: var(--clr-white);
  font-size: 14px;
  font-weight: bold;
}

.btn:focus-visible {
  outline-color: var(--clr-grayish-blue);
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
}

.btn:hover {
  background-color: hsl(212, 100%, 69%);
}

.btn--right {
  margin-left: 0.5rem;
}

.gh__info {
  background-color: var(--clr-white);
  padding: 1.8rem 1.35rem;
  box-shadow: var(--sh-box);

  border-radius: 15px;
}

.gh_info__header {
  margin-bottom: 1rem;
}

.gh_info__header--image {
  width: 70px;
  height: 70px;

  margin-right: 1rem;
}

.gh_info__header img {
  width: 70px;
  height: 70px;

  margin-right: 1rem;
}

.user-info {
  width: 100%;
}

.user-info__link {
  color: var(--clr-blue);
  text-decoration: none;
}

.user-info__joined {
  color: var(--clr-grayish-blue);
}

.gh_info__stats {
  background-color: var(--clr-saturated-white);
  margin-top: 1rem;
  padding: 1rem 2rem;
  text-align: center;

  border-radius: 10px;
  list-style: none;
}

.stat--title {
  font-size: 11px;
}

.gh_info__extra-info {
  margin-top: 1.35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  list-style: none;
}

.gh_info__extra-info li {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.785rem;
}

.gh_info__extra-info li svg {
  fill: var(--clr-desautareted-blue);
  margin-right: 0.8rem;
}

.gh_info__extra-info li a {
  text-decoration: none;
  color: var(--clr-desautareted-blue);
}

.gh_info__extra-info li:not(.empty) a:hover {
  text-decoration: underline;
}

.gh_info__extra-info li.empty {
  opacity: 0.5;
}

.gh_info__extra-info li:not(.empty):nth-last-child(-n + 2) a:hover {
  text-decoration: none;
  color: rgba(144, 164, 212, 1);
}

@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }

  main {
    max-width: 573px;
  }

  .icon--left {
    margin-right: 1.35rem;
  }

  input {
    font-size: 18px;
  }

  .error input {
    width: 60%;
  }

  .btn {
    padding: 0.7rem 1.3rem;

    font-size: 16px;
  }

  .gh__info {
    padding: 2.2rem;
  }

  .gh_info__header--image {
    width: 117px;
    height: 117px;

    margin-right: 2rem;
  }

  .gh_info__header img {
    width: 117px;
    height: 117px;
    margin-right: 2rem;
  }

  .user-info__link {
    font-size: 16px;
  }

  .gh_info__stats {
    margin-top: 1.8rem;
    text-align: left;
  }

  .stat--title {
    font-size: 13px;
  }

  .gh_info__extra-info {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.85rem;
  }

  .gh_info__extra-info li {
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  main {
    min-width: 730px;
  }

  .user-info {
    flex-direction: row;
    justify-content: space-between;
  }

  .user-info__joined {
    text-align: right;
    width: 40%;
    line-height: 38px;
  }

  .gh__info {
    padding: 2.5rem;
  }

  .gh__info__summary,
  .gh_info__stats,
  .gh_info__extra-info {
    margin-left: 8.7rem;
  }

  .gh__info__summary {
    margin-top: -3rem;
  }

  .gh_info__extra-info {
    margin-top: 2rem;
  }
}
